/*
Set up stylus compiling with LitElement
https://stackoverflow.com/questions/48828233/react-component-library-getting-stylus-to-work

*/
@import 'my-element'

body
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif
  background: black
  color: #ccc
